{% comment %} section-list-collections {% endcomment %}

{% assign _s = section.settings %}


<!-- List collections -->
<div class="bg-white border-b-2 border-black">
  <div class="container mx-auto px-4 md:px-6">
    <div class="py-16 sm:py-24 lg:py-32">
      <h2 class="text-2xl font-extrabold text-gray-900">{{ _s.title }}</h2>

      <div class="mt-8 grid grid-cols-1 gap-y-10 sm:mt-6 sm:grid-cols-2 gap-x-6 lg:grid-cols-3 xl:grid-cols-3 xl:gap-x-8">
      {% liquid
        assign feat_collection = collections['frontpage']
        if _s.collection != blank
          assign feat_collection = _s.collection
        endif
        for product in feat_collection.products limit: 8
          render 'product-card', product: product
        endfor
      %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "List products",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Featured products"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Select collection"
    }
  ],
  "presets": [
    {
      "name": "List products"
    }
  ]
}
{% endschema %}
